{
  "parser": "babel-eslint",
  "plugins": ["react", "import", "jsx-a11y", "react-hooks", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2019,
    "sourceType": "module"
  },

  "extends": [
    "plugin:import/errors",
    "plugin:react/recommended",
    "airbnb",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],

  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "mjs": "never",
        "jsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "react/prop-types": "off",
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "max-lines": "warn",
    "max-lines-per-function": ["warn", 150],
    "no-bitwise": "off",
    "react/no-array-index-key": "off",
    "no-underscore-dangle": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "no-console": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      }
    }
  }
}
